<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="~/img/favicon.ico" />
      The Library
    </a>

    <button 
      class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbar-content" 
      aria-controls="navbar-content" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav">
        <li>
          <a 
            href="https://github.com/AlyxMoon/epicodus-week12-library-app"
            target="_blank">
            Github Repo
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>